/*  your css code here. If applicable */
nav{
	background-color:#011e29;
	color:white;
	display:flex;
	justify-content:center;
	padding:20px;
	font-size:20px;
	
}
body{
	background-color:#f5f5f5;
	
}
